services:
  - type: web
    name: jala-app
    env: node
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: false
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
    envVars:
      - key: DB_PATH
        value: /data/jala.db
