<%- include('layout', { 
  title: 'Home', 
  body: `
    <section class="dashboard home-hero home-center">
      <h1 class="home-title">Welcome to JALA Academy</h1>
      <p class="home-tagline">The world's best up-skilling academy</p>

      <p class="home-line">
        Do you want to learn Selenium/cucumber Automation completely with Practical Scenarios in 7 Days?
        Use this website to find all the scenarios at one place.
      </p>

      <p class="home-line">
        To understand or test RESTful APIs, use the JALA Academy FREE live APIs.
        Search on Google with the keyword <strong>"JALA Academy Postman APIs"</strong>.
      </p>

      <div class="home-strip-card">
        <p>
          You learn Everything by doing projects if you are very serious to get a software job in 90 days
          <a href="http://jalatechnologies.com" target="_blank" rel="noreferrer">http://jalatechnologies.com</a>
        </p>
        <p>
          Don't forget to read our website JALA Academy completely to know more opportunities.
        </p>
      </div>

      <p class="home-footer">
        Copyright &copy; 2025 JALA Technologies. All rights reserved.
      </p>
    </section>
  ` 
}) %>


