<%- include('layout', { 
  title: 'Menu', 
  body: `
    <section class="dashboard">
      <h1>Application Menu</h1>
      <p>This page represents the main navigation menu similar to the Magnus portal.</p>
      <ul class="menu-grid">
        <li>Users</li>
        <li>Employees</li>
        <li>Courses</li>
        <li>Subscriptions</li>
        <li>Reports</li>
        <li>Settings</li>
      </ul>
    </section>
  ` 
}) %>


