<%- include('layout', { 
  title: 'More', 
  body: `
    <section class="dashboard">
      <h1>More</h1>
      <p>Demonstration of the options available under the More menu in the Magnus portal.</p>
      <ul class="menu-grid">
        <li><a href="/more/tabs">Multiple Tabs</a></li>
        <li><a href="/more/menu">Menu</a></li>
        <li><a href="/more/autocomplete">Autocomplete</a></li>
        <li><a href="/more/collapsible">Collapsible Content</a></li>
        <li><a href="/more/images">Images</a></li>
        <li><a href="/more/slider">Slider</a></li>
        <li><a href="/more/tooltips">Tooltips</a></li>
        <li><a href="/more/popups">Popups</a></li>
        <li><a href="/more/links">Links</a></li>
        <li><a href="/more/css-properties">CSS Properties</a></li>
        <li><a href="/more/iframes">iFrames</a></li>
        <li><a href="/more/settings">Settings</a></li>
      </ul>
    </section>
  ` 
}) %>


